<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>Store</title>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="index.html">Store</a>
      </div>

      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign in</a>
      </div>
      
    </header>
    <main class="main">
      <ul>
        <li>Product </li>
        <li>Product </li>
        <li>Product </li>
        <li>Product </li>
        <li>Product </li>
      </ul>
    </main>
    <footer class="footer">
      all rights reserved
    </footer>
  </div>
  
</body>
</html>